<div class="box box-solid">
    <div class="box-header">
        <h3 class="box-title">Contoh list </h3>
    </div>
    <div class="box-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Telpon</th>
                    <th>Keterangan</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.keterangan }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
