<div class="box box-solid">
    <div class="box-header">
        <h3 class="box-title">Contoh view </h3>
    </div>
    <div class="box-body">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="width: 25%;">Nama</th>
                    <td>{{ contact.name }}</td>
                </tr>
                <tr>
                    <th >Email</th>
                    <td>{{ contact.email }}</td>
                </tr>
                <tr>
                    <th >Telpon</th>
                    <td>{{ contact.phone }}</td>
                </tr>
                <tr>
                    <th >Keterangan</th>
                    <td>{{ contact.keterangan }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
